body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html {
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  overflow-y: scroll;
}

textarea.form-control {
  max-width: 100%;
  min-width: 100%;
}
